/*
* Typography
*/
.t_title a {
  color: $blue;
  text-decoration: none;
}

.t_title a:hover,
.t_title a:focus,
.t_title a:active {
  text-decoration: underline;
}

.t_title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.t_title,
.t_description {
  text-align: center;
}
