# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
__pycache__/
node_modules/
venv_rgqldj_blog
db.sqlite3
*.pyc
*.pyc
*.pyo
.installed.cfg
bin
develop-eggs
dist
downloads
eggs
parts
src/*.egg-info
.vscode/
backend_project_files/
# My Dev Settings - keep out of repo
my_dev_settings.py