// Colors
$blue: #0070f3;
$gray: #cccccc;

//typography
$font-base-size: 16px;
$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

//Spacers
$spacer: 1rem;
